@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Primary */
  --color-primary-darkest: #27256A;
  --color-primary-dark: #333088;
  --color-primary-medium: #3E3AA8;
  --color-primary-light: #6B68CA;
  --color-primary-lightest: #A6A4DF;

  /* Secondary */
  --color-secondary-darkest: #1D7258;
  --color-secondary-dark: #25936E;
  --color-secondary-medium: #2DB487;
  --color-secondary-light: #5DD5AD;
  --color-secondary-lightest: #9EE6CE;

  /* WhatsApp */
  --color-whatsapp-darkest: #188C42;
  --color-whatsapp-dark: #22C55E;
  --color-whatsapp-medium: #62E492;

  /* Neutral Light */
  --color-neutral-light-dark: #AEBDD5;
  --color-neutral-light-medium: #C9D3E3;
  --color-neutral-light-light: #E4E9F1;
  --color-neutral-light-lightest: #F5F7FA;
  --color-neutral-light-white: #FFFFFF;

  /* Neutral Dark */
  --color-neutral-darkest: #161D27;
  --color-neutral-dark: #1F2937;
  --color-neutral-medium: #33445B;
  --color-neutral-light: #425876;
  --color-neutral-lightest: #516B90;

  /* Success */
  --color-success-dark: #298267;
  --color-success-medium: #3AC0A0;
  --color-success-light: #E7F4EB;

  /* Warning */
  --color-warning-dark: #F59E0B;
  --color-warning-medium: #F8BA4F;
  --color-warning-light: #FAD189;

  /* Error */
  --color-error-dark: #ED3241;
  --color-error-medium: #FF616D;
  --color-error-light: #FFE2E5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-color: var(--color-neutral-light-lightest);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}